h1 {
  position: relative;
  text-align: center;
  margin: 0 auto;
  top: 20px;
}

div#container {
  width: 800px;
  height: 600px;
  background-color: rgb(214, 108, 108);
  position: relative;
  margin: 0 auto;
  top: 50px;
  border: solid 2px black;
}

div#box {
  width: 500px;
  height: 500px;
  background-color: rgb(250, 192, 171);
  position: relative;
  margin: 0 auto;
  top: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 2px blue;
  -webkit-display: flex;
  -moz-display: flex;
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 auto;
}

div.grid {
  background-color: white;
  border: 1px solid lime;
  width: 31px;
  height: 31px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-display: flex;
  -moz-display: flex;
  display: flex;
  flex: 0 1 auto;
}

div.blackBackground {
  background-color: black;
}

div.grayBackground {
  background-color: gray;
}

div.whiteBackground {
  background-color: white !important;
}

div.randomBackground {
  background-color: red;
}
