@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  font-family: "Bebas Neue", cursive, sans-serif;
  color: white;
  background-color: rgba(253, 169, 169, 0.911);
}

h1 {
  position: relative;
  text-align: center;
  margin: 0 auto;
  top: 20px;
  color: white;
  font-size: 50px;
  -webkit-text-stroke: 1.5px rgb(53, 72, 240);
  font-family: "Bangers", cursive, "DotGothic16", sans-serif;
  text-shadow: 3px 3px 1px #1cffc698, -3px -3px 1px #ff898fbb;
}

div#container {
  width: 1200px;
  height: 650px;
  background-color: rgb(230, 198, 198);
  position: relative;
  margin: 0 auto;
  top: 30px;
  border: solid 2px rgba(175, 245, 233, 0.842);
}

div#box {
  width: 604px;
  height: 604px;
  background-color: rgb(255, 254, 254);
  position: relative;
  margin: 0 auto;
  margin-right: 80px;
  top: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 2px rgba(108, 226, 255, 0.644);
  -webkit-display: flex;
  -moz-display: flex;
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 auto;
}

div.grid {
  background-color: rgb(255, 255, 255);
  border: 0.25px solid rgba(187, 250, 187, 0.829);
  width: 31px;
  height: 31px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-display: flex;
  -moz-display: flex;
  display: flex;
  flex: 0 1 auto;
}

div.blackBackground {
  background-color: black;
}
div.grayBackground {
  background-color: rgb(3, 3, 3, 0.1);
}
div.whiteBackground {
  background-color: white !important;
}

div.container-btn {
  width: 250px;
  float: left;
  margin: 50px;
}

button.buttonStyle {
  -webkit-appearance: none;
  appearance: none;
  background-color: rgba(176, 163, 224, 0.952);
  border-radius: 50px;
  border: 1px solid rgb(197, 198, 243);
  width: 80px;
  height: 80px;
  margin: 20px;
  font-family: "DotGothic16", sans-serif;
  color: white;
  font-size: 20px;
  text-shadow: 3px 3px 1px #1cffc698, -3px -3px 1px #ff898fbb;
}

.slide-btn-container {
  width: 300px;
  height: 500px;
  position: relative;
  padding: 40px 20px;
  margin: 70px 0 40px 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  border: 1px solid rgb(194, 194, 229);
  background-color: rgba(221, 255, 255, 0.651);
  text-align: center;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  float: left;
  display: block;
  position: relative;
  margin: 50px 0 40px 0;
  background: #90c9eb;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgba(216, 215, 235, 0.836);
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1.2;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #72ceba;
  border-radius: 50%;
  border: 1px solid rgb(226, 245, 245);
  cursor: pointer;
}

.slider::-moz-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: rgb(226, 245, 245);
  border-radius: 50%;
  cursor: pointer;
}

.outputP {
  display: block;
  font-family: "DotGothic16", sans-serif;
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px 1px #1cffc698, -2px -2px 1px #ff898fbb;
}
